/*
 * User defined styles for web content
 */
::-webkit-scrollbar {
    width: 0px; height: 0px;
}


#errorTitleText {
    background-color: #ab0000 !important;
    margin: 3px -7px -7px !important;
    border-radius: 4px 4px 4px 4px !important;
    padding: 4px;
}

/*
#errorTitleText:after {
    content: "" !important;
}
*/

#errorContainer {
    border: 3px solid #980000 !important;
    background-color: #ce0000 !important;
    color: #efefef !important;
    padding-top: 0px !important;
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0px !important;
    right: 0px !important;
    box-shadow: 0px 0px 10px 8px #454545;
}

#errorMessage {
}
#errorMessageText {
    font-family: monospace !important;
    font-size: 1.0em !important;
    color: white;
}

.img_ad {
    display: none !important;
}
