@-moz-document domain("4chan.org") {
  body,
  html {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAADIAQMAAAAwS4omAAAAA1BMVEUqMDv87SE7AAAAG0lEQVRIie3BMQEAAADCoPVPbQwfoAAAAIC3AQ+gAAEq5xQCAAAAAElFTkSuQmCC') !important;

    /*   background: #14151f !important;*/
    background-repeat: repeat !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    margin: auto !important;
    background-color: #14151f !important;
  }

  /* ~~~~~ customize colors to your liking ~~~~~ */

  /* block bg colors */

  /* settings and stats and file info block bg */
  .settings-link,
  span.menu-button,
  #thread-stats,
  .container,
  .fileText {
    color: #628383 !important;
  }

  /* qr and date block bg */
  .qr-shortcut,
  span.dateTime,
  .yotsuba.fixed:root #custom-board-list .current,
  .yotsuba-b.fixed:root #custom-board-list .current,
  .yotsuba-b:root #header-bar:hover,
  .yotsuba-b:root #board-list a:hover {
    color: #74857c !important;
  }

  /* quote bg */
  div.post div.postInfo span.postNum,
  div.post div.postInfo span.postNum a {
    color: #74857c !important;
  }

  /* watcher and name block bg, quote text */
  #watcher-link,
  .warning,
  div.post div.postInfo span.nameBlock span.name,
  div.post div.postInfo span.nameBlock span.postertrip,
  .nameBlock,
  .yotsuba_b_new .backlink,
  .quotelink,
  .yotsuba_b_new .backlink a {
    color: #556b82 !important;
  }

  /* EAI and subject block bg */
  .expand-all-shortcut,
  .subject,
  div.post div.postInfo span.subject,
  #custom-board-list,
  .yotsuba-b:root #board-list a,
  .yotsuba:root #board-list a {
    color: #8a7b70 !important;
  }

  /* block text color
.settings-link, span.menu-button, .qr-shortcut, #watcher-link, .expand-all-shortcut, .container, .warning, div.post div.postInfo span.nameBlock span.name, div.post div.postInfo span.nameBlock span.postertrip, .nameBlock, .fileText a, .subject, div.post div.postInfo span.subject, div.post div.postInfo span.postNum a, span.dateTime, #custom-board-list, .yotsuba:root #board-list a, .yotsuba-b:root #board-list a, #thread-stats, span.file-info, .yotsuba-b:root #header-bar {
color: #1d1e2a !important;
}    */

  /* text colors */

  /* main text */
  body,
  #qr,
  #thread-watcher,
  #thread-watcher .refresh,
  .menu-button .fa,
  #watched-threads .watcher-title,
  #watched-threads .watcher-unread,
  #thread-watcher a,
  .entry,
  #qr textarea.field,
  .right-box,
  .field,
  .globalMessage,
  div#boardNavDesktop,
  table.postForm > tbody > tr > td:first-child,
  input[type="text"],
  input[type="password"],
  table.postForm > tbody textarea,
  #recaptcha_response_field,
  div#boardNavDesktopFoot,
  .gal-count {
    color: #8a7b70 !important;
  }

  /* links & quoted */
  a,
  a:hover,
  div.post div.postInfo span.postNum a:hover,
  a.deadlink,
  a.close,
  .tab-filter,
  a.tab-main.tab-selected,
  #qr-no-file,
  .yotsuba-b:root .entry,
  #boards a,
  .boxbar,
  .deadlink,
  .gal-name,
  #qr select,
  select {
    color: #74857c !important;
  }

  /* green text */
  blockquote > span.quote {
    color: #81616c !important;
  }

  /* bg colors */

  /* reply bg */
  div.reply,
  .catalog-mode:root .board,
  .inline .post {
    background: #1d1e2a !important;
  }

  /* chat style reply - make the border color match the reply bg color
.replyContainer:after {
	content: ' '!important;
  float: left !important;
	width: 0 !important;
	height: 0 !important;
	margin-left: 0px !important;
	margin-top: -8px !important;
	border: 15px solid !important;
	border-color: #1d1e2a transparent transparent #1d1e2a !important;
}
.opContainer:after {
  content: ' '!important;
  float: left !important;
	width: 0 !important;
	height: 0 !important;
	margin-left: -10px !important;
	margin-top: -8px !important;
	border: 20px solid !important;
	border-color: #1d1e2a transparent transparent #1d1e2a !important;
}*/

  /* header bg and main site bg */
  #header-bar,
  .yotsuba-b:root:not(.fixed) #header-bar,
  div.reply,
  .boxcontent,
  .top-box,
  .left-box,
  .right-box,
  #recent-images a {
    background: #1d1e2a !important;
  }

  /* menus, watcher, linked posts and qr bg */
  #thread-watcher,
  #fourchanx-settings.dialog,
  fieldset legend,
  .yotsuba-b:root .suboption-list > div:last-of-type,
  .dialog:not(#qr):not(#thread-watcher):not(#header-bar),
  #fourchanx-settings code,
  kbd,
  .reply:target,
  .reply.highlight,
  .yotsuba-b:root .inline {
    background: #161721 !important;
  }

  /* quoted bg */
  .yotsuba:root .inline,
  .boxbar,
  #qr select,
  select {
    background: #14151f !important;
  }

  #ft li,
  .right-box,
  .boxcontent,
  .top-box,
  .left-box,
  #recent-images .boxcontent,
  #qr select {
    border: none !important;
  }

  .top-box .menubutton,
  .right-box .menubutton {
    background-image: none !important;
  }

  #ft li,
  #ft ul {
    background: none !important;
    border: none !important;
  }

  /* misc */

  /* quotes to (you) border color */
  .highlight-you:root .quotesYou.opContainer,
  .highlight-you:root .quotesYou > .reply {
    border-top: 3px dotted #556b82 !important;
  }

  /* notifications */
  .message {
    background-color: #1d1e2a !important;
    color: #8a7b70 !important;
    text-shadow: none !important;
  }

  /* waifu
body::after {
   content: url('https://puu.sh/l8I5S/792d7fc13d.png');
    position: fixed !important;
    margin: auto !important;
    left: 0 !important;
    bottom: 0 !important;
    margin-left: 0px !important;
    z-index: 1 !important;
}   */
  #qr input.field {
    opacity: 0 !important;
  }

  #qr input.field:hover {
    opacity: 1 !important;
  }

  /* thread */
  div.thread {
    width: 1100px !important;

    /*margin-left: 400px !important;*/
    margin: 0 auto !important;

    /* 120 for header, 30 w/o */
    margin-top: 30px !important;
  }

  /*div.thread, .replyContainer, .postContainer {
    background: transparent !important;
}  */
  #skellington {
    display: none !important;
  }

  div.op {
    margin-top: 0px !important;
  }

  /*#fT1834928 {
    margin-top: -10px !important;
    margin-right: 141px !important;
}    */
  #header-bar {
    border: 0 !important;
    height: 23px !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
    max-width: 1096px !important;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    display: inline-block !important;
  }

  .yotsuba-b:root #board-list {
    max-width: 396px !important;
  }

  .centered-links:root #shortcuts,
  #custom-board-list {
    top: -2px !important;
  }

  #header-bar a.current,
  .yotsuba-b:root #board-list a {
    text-decoration: none !important;
  }

  .index-refresh-shortcut,
  span.shortcut:nth-child(5) {
    display: none !important;
  }

  /*#header-bar:hover {
    background-color: #59444b !important;
    padding-top: 30px !important;
}  */
  div.reply {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    /*box-shadow: none !important;*/
  }

  div.reply:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);

    /*box-shadow: none !important;*/
  }

  /* reply and op bg colors */
  .replyContainer,
  #qp,
  div.reply {

    /*padding: 1px !important;
    background: #1d1e2a !important;*/
  }

  .replyContainer {
    padding: 0px !important;
  }

  .postContainer.replyContainer {
    margin-top: 15px !important;
  }

  .post.reply,
  .opContainer,
  .post.reply:hover {
    width: 100% !important;
    padding: 10px !important;
    -moz-box-sizing: border-box !important;
  }

  .opContainer {
    padding-bottom: 3px !important;
  }

  span.postNum a:hover {
    font-family: Open Sans !important;
  }

  /* give reply borders  */
  div.reply,
  .post.reply,
  .opContainer {
    border: 0px !important;
    border-color: #926d7b !important;
    border-style: solid !important;
  }

  /* op height */
  div.opContainer {
    min-height: 170px !important;
  }

  div.post blockquote.postMessage {
    width: 96% !important;
  }

  /* reply link, backlink location

div.post div.postInfo span.postNum a {
    visibility: hidden !important;
    float:right;
}
div.post div.postInfo span.postNum a:before {
    content: url(https://puu.sh/k0oPB/098f590af7.png) !important;
    opacity: 0.6 !important;
    visibility: visible;
    float:right;
    margin-left: -9px !important;
    margin-top: -10px !important;
    width: 8px !important;
    color: #6f535e !important;
}     */
  div.post div.postInfo span.postNum {
    padding: 5px !important;
    float: right !important;
    margin-right: 4px !important;
    margin-top: 0px !important;

    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);*/
  }

  /* menu dropdown */
  .fa-angle-down::before,
  .op .menu-button,
  .postContainer .menu-button {

    /*content: url(https://puu.sh/k0rck/835a18128d.png) !important;*/
    content: url(https://puu.sh/kJK7r/66df022a75.png) !important;
    margin-right: 5px;
    margin-top: 6px;
    float: right;
    width: 10px !important;
    height: 10px !important;

    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);*/
  }

  .fa-angle-down::before {
    opacity: 0 !important;
  }

  div.postInfo span.postNum a {

    /*position: absolute;
    right: 245px;
    color: #323448 !important;
    font-family: blank !important;*/
  }

  /* give image borders */
  img {
    border: 0px !important;
    border-color: #14151f !important;
    border-style: solid !important;
  }

  /* Replace backlinks by arrow icons */
  .backlink:first-child::before {
    margin-left: -5px !important;
  }

  .backlink {
    font-size: 0 !important;
  }

  .backlink:after {
    content: url(https://puu.sh/kJKfz/74c060c9c7.png) !important;
    font-size: 12px !important;
    margin-right: 0px !important;
    opacity: 0.5 !important;
  }

  .backlink:after {
    margin-left: 8px !important;
  }

  .backlink:hover::after,
  .backlink.filtered:hover::after {
    opacity: 0.65 !important;
  }

  .backlink.filtered:after {
    opacity: 0.65 !important;
  }

  .post.op .backlink:first-child {
    margin-left: 0px !important;
  }

  /* fonts */
  body,
  .post.reply,
  .opContainer,
  #board-list,
  #custom-board-list,
  #menu.dialog,
  .entry,
  .yotsuba-b:root .suboption-list > div:last-of-type,
  option,
  #qr textarea.field,
  .field,
  #index-search.field,
  #updater.dialog,
  #thread-stats.dialog,
  #thread-stats,
  .boardSubtitle,
  #thread-watcher,
  div.post div.postInfo span.nameBlock span.postertrip,
  div.post div.postInfo span.nameBlock span.name,
  div.post div.postInfo span.subject,
  #qr:not(.captcha-open) .captcha-counter > a,
  #file-n-submit > input,
  #watcher-link,
  .settings-link,
  .expand-all-shortcut,
  .qr-shortcut,
  div#boardNavDesktop,
  .yotsuba_b_new .backlink,
  .quotelink,
  div#boardNavDesktop a,
  table.postForm > tbody > tr > td:first-child,
  input[type="text"],
  input[type="password"],
  table.postForm > tbody textarea,
  #recaptcha_response_field,
  div#boardNavDesktopFoot a,
  #qr select {
    font-family: Open Sans !important;
    font-weight: 600 !important;
    font-size: 13px !important;
  }

  /* change the margin depending on whether you show the banner and the header */
  hr {
    margin-top: 0px !important;
    padding-top: 0px !important;
    border: 0 !important;
  }

  /* buttons */
  .settings-link.fa-wrench:before,
  .qr-shortcut:before,
  #watcher-link:before {
    font-family: Open Sans !important;
    font-weight: 600 !important;
    font-size: 12px !important;
  }

  #thread-stats {
    position: absolute !important;
    left: 14px !important;
    top: 4px !important;
  }

  #watcher-link {
    position: absolute !important;

    /*(margin-left: -60px !important;*/
  }

  #watcher-link:before {
    content: "Watcher" !important;
    margin-right: 5px !important;
    z-index: 3 !important;
  }

  /*.qr-shortcut {
    color: #aaa !important;
    margin-left: -45px !important;
}
.qr-shortcut:before {
    content: "Reply" !important;
    margin-right: 5px !important;
    z-index: 3 !important;
  }

.settings-link {
    position: absolute !important;
    right: 19px !important;
  }
.settings-link.fa-wrench:before {
    content: "Settings" !important;
    margin-right: 5px !important;
    z-index: 3 !important;
  }   */
  #bannerCnt {
    border: none;
    margin-top: -10px !important;
    padding: 0px !important;
    display: none !important;
  }

  /* fade images

div.boardBanner, img {
    opacity: 0.5 !important;
}

div.boardBanner:hover, img.hover, .expanded-image > .post > .file > .fileThumb > .full-image {
    opacity: 0.9 !important;
}       */

  /* Links */
  a,
  a:hover,
  div.post div.postInfo span.postNum a:hover,
  a.quotelink,
  a.deadlink {
    text-decoration: none !important;
  }

  /*.backlink.deadlink:not(.forwardlink), .quotelink.deadlink:not(.forwardlink) {
    text-decoration: none !important;
}  */

  /*#board-list,
#custom-board-list {
    color: #6f535e !important;
}

.yotsuba:root #board-list a, #header-bar a {
    color: #6f535e !important;
}

.yotsuba.fixed:root #custom-board-list a.current {
    border-bottom: 0px solid rgba(12, 12, 12, 0.2) !important;
}

.yotsuba:root #header-bar, .yotsuba:root #notifications, .menu-button:not(.fa-bars) {
    color: #6f535e;
}    */

  /* if you use thread conversations */
  .threadContainer {
    border-left: 1px solid #434359 !important;
  }

  #header-bar .brackets-wrap:after,
  #header-bar .brackets-wrap:before,
  .shortcut:not(:last-child):after {
    content: ""!important;
  }

  #update-timer {
    color: transparent !important;
  }

  a.current:nth-child(5),
  .yotsuba.fixed:root #custom-board-list .current:hover,
  .yotsuba-b.fixed:root #custom-board-list .current {
    border-bottom: 0px;
  }

  /*#nav-links {
    background: #1d1e2a !important;
    border-color: #ebebeb !important;
    right:0;
    padding:0px;
    position:fixed;
    bottom:0;
    z-index:10;
}*/
  .navLinks {
    margin-top: 50px !important;
  }

  #index-size,
  #index-sort,
  #index-mode {
    border: none !important;
  }

  span.navLinks:nth-child(1) {
    display: none;
  }

  .catalog-thread.watched .catalog-thumb,
  .filter-highlight .catalog-thumb {
    border: 2px solid #6d7393;
  }

  /*#index-search.field,
#updater.dialog,
#thread-stats.dialog, .float:root #thread-stats {
    background: transparent !important;
    color: #6b454f !important;
    border-style: none !important;
}

#update-status, input.field, #qr textarea.field, #qr:not(.captcha-open) .captcha-counter > a, .field {
    color: #926d7b !important;
}*/
  div.sideArrows,
  .qr-link-container,
  .boardSubtitle,
  .bottomCtrl.desktop,
  #absbot.absBotText,
  .navLinks.desktop,
  .navLinks.navLinksBot.desktop {
    display: none !important;
  }

  div.center:nth-child(16),
  div.center:nth-child(6) {
    display: none !important;
  }

  div.center:nth-child(4) {
    border: none !important;
  }

  .yotsuba:root .hide-post-button,
  .yotsuba-b:root .hide-post-button {
    display: none !important;
  }

  #unread-line {
    border: 0 !important;
    height: 1px !important;
    margin-top: -10px !important;
  }

  .inline {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border: 0 !important;
  }

  :root a.backlink,
  :root .backlink-container > a.backlink.deadlink,
  .warning,
  :root a.replylink:hover,
  :root a:not(.entry):hover {

    /* background: url(http://i.imgur.com/lFuGnSO.png) center no-repeat !important; */
    color: #6b454f !important;

    /* content: url('http://i.imgur.com/lFuGnSO.png') !important;*/
  }

  :root a.backlink {
    margin-left: 5px !important;
  }

  span.quote {
    color: #6f535e !important;
  }

  .postInfo > input,
  a.hide-reply-button > span {
    display: none !important;
  }

  .fileText a {
    text-decoration: none;
  }

  #qp {
    border: 0 !important;
    box-shadow: none !important;
  }

  .close.fa.fa-times {
    display: none !important;
  }

  #qr.dialog.has-captcha.autohide {
    box-shadow: 1px -2px 4px #161721 !important;
    border: 0px solid #6b454f !important;
  }

  #qr.autohide:not(:hover):not(.has-focus) {
    max-height: 21px;
    transition: max-height 0.7s ease 1s;
  }

  #qr > form {
    padding-top: 4px !important;
  }

  #qr {
    background: #1a1b26 !important;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px !important;
    transition: all 0.2s ease 0s;
    transition: max-height 0.4s ease;
    z-index: 1 !important;
  }

  #qr label input[type="checkbox"] {
    opacity: 0.4 !important;
  }

  #qr label input[type="checkbox"]:hover {
    opacity: 0.7 !important;
  }

  #qr .textarea textarea {
    max-height: 184px;
    transition: none !important;
  }

  .field,
  #qr option:hover,
  #dump-button:hover,
  :root .field:hover,
  #menu .entry.focused,
  :root .field:focus,
  #file-n-submit > input {
    background: #161721 !important;
    border-color: #161721 !important;
    color: #926d7b !important;
  }

  #qr form {
    bottom: 10px !important;
    right: 0% !important;
    width: 300px !important;
    border: 1px #323448 !important;
    padding: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: #161721 !important;
    border-color: #1d1e2a !important;
    border-radius: 0px !important;
  }

  #dump-button {
    background: #161721 !important;
    border-color: #1d1e2a !important;
    color: #926d7b !important;
  }

  #qr .field,
  .field {
    background: #161721 !important;
    border: 1px #323448 !important;
    color: #8a7b70 !important;
  }

  .replyContainer {
    padding: 10px !important;
  }

  .fileText {
    opacity: 0 !important;
    max-height: 0px !important;
    transition: .4s ease-out !important;
  }

  .file:hover .fileText,
  .file.image-expanded .fileText {
    opacity: 1 !important;
    max-height: 22px !important;
  }

  /* menu/reply/link

div.post div.postInfo span.postNum a:before {
    background-color: #6f535e !important;
     color: #1d1e2a !important;
    padding: 4px !important;
}    */

  /* info box block */
  .fileText {
    margin-top: 0px !important;
    margin-left: -3px !important;
    padding: 4px !important;
    max-width: 440px !important;
  }

  /* name block */
  div.post div.postInfo span.nameBlock span.name,
  div.post div.postInfo span.nameBlock span.postertrip,
  .nameBlock {
    padding: 4px !important;
    margin-left: -3px !important;
  }

  .warning {
    padding: 4px !important;
    margin-left: -3px !important;
  }

  /* time block */
  span.dateTime {
    padding: 4px !important;
    margin-left: -3px !important;
  }

  /* replies block */
  .container {
    padding: 4px !important;
    margin-left: -3px !important;
  }

  /* subject block */
  .subject,
  div.post div.postInfo span.subject {
    padding: 4px !important;
    margin-left: -3px !important;
  }

  /* watch

.watch-thread-link {
    background-color: #805f6c !important;
     color: #1d1e2a !important;
}    */
  .yotsuba-b.fixed:root #custom-board-list .current {
    padding: 6px !important;
  }

  #thread-stats {
    padding: 6px !important;
    margin-top: -4px !important;
    margin-left: -13px !important;
  }

  #watcher-link {
    padding: 6px !important;
    margin-top: -3px !important;
    margin-left: -134px !important;
    opacity: 1 !important;
  }

  .expand-all-shortcut {
    padding: 6px !important;
    margin-top: -3px !important;
    margin-left: -168px !important;
    opacity: 0 !important;
  }

  .expand-all-shortcut {
    position: absolute !important;
  }

  /*.qr-shortcut {
    display: inline-block !important;
   background: url('https://puu.sh/k0xOW/ddda4484a4.png');
    position: fixed !important;
    top: 0 !important;
    margin-left: 1140px !important;
    margin-top: 182px !important;
}       */

  /*.qr-shortcut {
    padding: 6px !important;
    margin-left: -107px !important;
    opacity: 1 !important;
    margin-top: -3px !important;
    position: absolute !important;
}    */
  .settings-link {
    padding: 6px !important;
    margin-left: -80px !important;
    margin-top: -3px !important;
    position: absolute !important;
  }

  span.menu-button {
    padding: 5px !important;
    margin-left: -18px !important;
    margin-top: -3px !important;
    height: 20px !important;
    position: absolute !important;
  }

  #custom-board-list {
    position: absolute !important;
    margin-left: 185px !important;
    padding: 6px !important;
    margin-top: 2px !important;
  }

  .yotsuba:root .watch-thread-link,
  .yotsuba-b:root .watch-thread-link {
    background-image: url("https://puu.sh/kJJS7/c9d5977d6b.png") !important;
    height: 5px !important;
    width: 30px !important;
  }

  #fourchanx-settings.dialog,
  fieldset legend,
  .yotsuba-b:root .suboption-list > div:last-of-type,
  .dialog:not(#qr):not(#thread-watcher):not(#header-bar),
  #fourchanx-settings code,
  kbd {
    border: none !important;
  }

  #fourchanx-settings fieldset {
    border: 0px solid;
    border-radius: 3px;
  }

  #thread-watcher {
    border: none !important;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    width: 300px !important;
  }

  /* hide notifications */
  #blotter,
  .globalMessage {
    display: none !important;
  }

  #toggleMsgBtn {
    opacity: 0 !important;
  }

  #toggleMsgBtn:hover {
    opacity: 0.8 !important;
  }

  div.post div.postInfo span.postNum {
    opacity: 0.8 !important;
  }

  div.post div.postInfo span.postNum:hover {
    opacity: 0.5 !important;
  }

  .qr-shortcut {
    position: absolute !important;
    margin-left: 191px !important;
    margin-top: 880px !important;
    font-size: 0px !important;
    background: transparent !important;
    color: #1d1e2a !important;
    opacity: 1 !important;
  }

  .qr-shortcut:after {
    position: absolute !important;
    content: url('https://puu.sh/l7Ee0/18e02e57cd.png');
    margin-right: 0px !important;
    font-size: 0px !important;
    color: #1d1e2a !important;
    right: 0 !important;
    bottom: 0 !important;
  }

  #a-gallery {
    background: rgba(20, 21, 31, 0.7) none repeat scroll 0% 0% !important;
  }

  .gal-prev::after {
    border-right: 12px solid #556b82 !important;
  }

  .gal-next::after {
    border-left: 12px solid #556b82 !important;
  }

  /* old qr */
  table.postForm > tbody > tr > td:first-child,
  input[type="text"],
  input[type="password"],
  table.postForm > tbody textarea,
  #recaptcha_response_field {
    background: transparent !important;
    border: none !important;
  }

  .div.boardTitle,
  .yotsuba-b:root div.boardTitle,
  div.boardTitle {
    display: inherit !important;
    color: #74857c !important;
    text-shadow: none !important;
    padding: 5px !important;
    background: #1a1b26 !important;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    width: 350px !important;
    margin: auto !important;
    margin-top: 25px !important;
  }

  #bannerCnt {
    border: none;
    margin-top: 30px !important;
    padding: 0px !important;
    opacity: 0.6 !important;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    display: inherit !important;
  }

  #bannerCnt:hover {
    opacity: 0.5 !important;
  }

  .qr-link-container + #togglePostFormLink,
  #appchan-gal {
    display: none !important;
  }

  div.thread {
    background: #14151f !important;
  }

  /* op */
  .opContainerr {
    background: #1d1e2a !important;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }

  a.fileThumb,
  div.post div.file .fileThumb img {
    float: right !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  /* catalog */
  .catalog-mode:root .board {
    padding: 25px !important;
  }
}
